@font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold'), url('font/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;
    src: local('Permanent Marker'), url('font/PermanentMarker/PermanentMarker.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/backgroung.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

header {
    margin: 0 auto;
    padding: 40px 80px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    width: 200px;
}

.menu {
    display: block;
}

.menu li {
    display: inline-block;
}

.menu li a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
}

.menu li a:before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(250deg, #fc4c4c, black);
    transition: all 0.5s ease;
    transform: translateX(-50%);
    border-radius: 7px;
}

.menu li a:hover:before {
    width: 100%;
    margin-bottom: -5px;
}

.menu li:nth-child(1) a {
    padding: 10px;
    background-color: #fc4c4c;
    transition: all 0.6s ease²;
}

.menu li:nth-child(1) a:before {
    display: none;
}

.menu li:nth-child(1) a:hover {
    background: none;
    color: #fc4c4c;
    border: 2px solid #fc4c4c;
}

.icons {
    display: none;
    cursor: pointer;
    font-size: 40px;
}

.banner-card {
    position: relative;
    width: 200px;
    left: 46%;
}

.banner-card img {
    width: 200px;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.txt2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.txt3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    max-width: 1300px;
}

.text {
    text-transform: uppercase;
    font-size: 75px;
    color: #fc4c4c;
    text-align: center;
    font-family: 'Montserrat ExtraBold';
}

.text2 {
    font-size: 6em;
    font-family: 'Permanent Marker';
}

span a {
    text-decoration: none;
    color: #fff;
}

span a {
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 55px 15px 55px;
    background: #fc4c4c;
    border-radius: 15px;
    font-family: 'Montserrat ExtraBold';
    color: #fff;
    transition: all 0.6s ease;
}

span a:hover {
    background: none;
    color: #fc4c4c;
    border: 2px solid #fc4c4c;
}

@media (max-width: 1121px) {
    header {
        margin: 0 auto;
        padding: 40px 50px;
    }
}

@media (max-width: 966px) {
    header {
        margin: 0 auto;
        padding: 40px 30px;
    }
}

@media (max-width: 948px) {
    .banner-card {
        width: 200px;
    }
    .banner-card img {
        width: 200px;
    }
}

@media (max-width: 359px) {
    .banner-card {
        width: 150px;
    }
    .banner-card img {
        width: 150px;
    }
}

@media (max-width: 952px) {
    .icons {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background: rgb(255, 255, 255);
        z-index: 999;
        text-align: center;
        padding-top: 200px;
        transition: all 0.5s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        padding-top: 40px;
    }
    .content {
        padding: 0 80px;
    }
    .text {
        font-size: 65px;
    }
    .text2 {
        font-size: 5em;
        font-family: 'Permanent Marker';
    }
    span a {
        padding: 10px 45px 10px 45px;
    }
    @media (max-width:582px) {
        .text {
            font-size: 55px;
        }
        .text2 {
            font-size: 4.5em;
            font-family: 'Permanent Marker';
        }
        span a {
            padding: 10px 45px 10px 45px;
        }
    }
    @media (max-width: 353px) {
        .content {
            padding: 0 15px;
        }
    }
}


/*.content {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 30%;
    left: 55%;
}

.text {
    text-transform: uppercase;
    font-size: 85px;
    color: #fc4c4c;
    text-align: center;
    font-family: 'Montserrat ExtraBold';
}

.text2 {
    font-size: 7em;
    font-family: 'Permanent Marker';
}

span {
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 55px 15px 55px;
    background: #fc4c4c;
    border-radius: 15px;
    font-family: 'Montserrat ExtraBold';
    color: #fff;
    transition: all 0.6s ease;
}

span:hover {
    background: none;
    color: #fc4c4c;
    border: 2px solid #fc4c4c;
}*/