@font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold'), url('font/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;
    src: local('Permanent Marker'), url('font/PermanentMarker/PermanentMarker.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/backgroung.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    margin: 0 auto;
    padding: 40px 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    width: 200px;
}

ul {
    display: block;
}

ul li {
    display: inline-block;
}

ul li a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
}

ul li a:before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-image: linear-gradient(250deg, red, rgb(11, 149, 212));
    transition: all 0.3s ease;
    transform: translateX(-50%);
    border-radius: 7px;
}

ul li a:hover:before {
    width: 100%;
    margin-bottom: -5px;
}

ul li:nth-child(1) a {
    padding: 10px;
    border: 1px solid#fc4c4c;
    background-color: #fc4c4c;
}

ul li:nth-child(1) a:before {
    display: none;
}

.max-width {
    position: relative;
}

.banner-card {
    position: relative;
    width: 250px;
    left: 42%;
}

.banner-card img {
    width: 250px;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.txt2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.txt3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.content {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 30%;
    left: 55%;
}

.text {
    text-transform: uppercase;
    font-size: 85px;
    color: #fc4c4c;
    text-align: center;
    font-family: 'Montserrat ExtraBold';
}

.text2 {
    font-size: 7em;
    font-family: 'Permanent Marker';
}

span {
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 15px 55px 15px 55px;
    background: #fc4c4c;
    border-radius: 15px;
    font-family: 'Montserrat ExtraBold';
    color: #fff;
}